:root{
    --cuadroNegro: #2C2C2C;
    --cuadroAzul: #0460AD;
}
*{
    margin: 0;
    padding: 0;
}
#cuadroNegro{
    background-color: var(--cuadroNegro);
    width: 100%;
}
.centrar{
    width: 60%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* img{
    right: 0;
    top: 0;
    overflow: hidden;
} */
ul {
    position: absolute;
    list-style: none;
    top: 0;
    right: 0;
    overflow: hidden;
}
li{
    color: #fff;
    float: left;
    border-left: 1px solid #fff;
    padding: 25px;
}
#cuadroAzul{
    background-color: var(--cuadroAzul);
    width: 100%;
}
.lateralIzquierdo{
    width: 60%;
    float: left;
}
.textosTitulo{
    color: #fff;
    text-align: center;
    font-family: "Segoe ui light", sans-serif;
}
.margenArriba{
    margin-top: 35px;
}
.margenInferior{
    margin-bottom: 35px;
}
.btn{
    background-color: #27b527;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 40px;
    display: block;
    width: 40%;
    margin: 0 auto;
    font-family: "Segoe ui light", sans-serif;
    font-size: 25px;
    border-radius: 50px;
    margin-bottom: 25px;
}
.laterlaDerecho{
    width: 40%;
    float: left;
}
.imagenPrincipal{
    width: 70%;
    display: block;
    margin: 0 auto;
}
#cuadroVerde{
    background-color: #21bc4e;
}
.bordeInferior{
    border-bottom: 3px solid white;
}
.cuadroPequeno{
    text-align: center;
    width: 25%;
    float: left;
}