:root{
    --cuadroNegro: #2C2C2C;
    --cuadroAzul: #0460AD;
}
*{
    margin: 0;
    padding: 0;
}
#cuadroNegro{
    background-color: var(--cuadroNegro);
    width: 100%;
}
.centrar{
    width: 60%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* img{
    right: 0;
    top: 0;
    overflow: hidden;
} */
ul {
    position: absolute;
    list-style: none;
    top: 0;
    right: 0;
    overflow: hidden;
}
li{
    color: #fff;
    float: left;
    border-left: 1px solid #fff;
    padding: 25px;
}
#cuadroAzul{
    background-color: var(--cuadroAzul);
    width: 100%;
}
.lateralIzquerdo{
    border: 1px solid black;
    width: 60%;
    float: left;
}
.lateralDerecho{
    border: 1px solid black;
    width: 40%;
    float: left;
}