:root{
    --cuadroNegro: #2C2C2C;
    --cuadroAzul: ##0460AD;
}
*{
    margin: 0;
    padding: 0;
}
#cuadroNegro{
    background-color: var(--cuadroNegro);
    width: 100%;
}
.centrar{
    width: 60%;
    margin: 0 auto;
    position: relative;
}
img{
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
ul {
    list-style: none;
    top: 0;
    left: 0;
    overflow: hidden;
}
li{
    color: #fff;
    float: left;
    border-left: 1px solid #fff;
    padding: 25px;
}
#cuadroAzul{
    background-color: var(--cuadroAzul);
    width: 100%;
}